# Owner global (usado para definir revisor de pull requests por defecto)
# Fuente:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
* @ric-diazs
